<div class="container">
	
	<div class="row">	  
		<h1>{{question}}</h1>
		<hr>
	</div>
	
	<div class="row">	  		
		<div class="span6 offset3">	
			<ul class="unstyled">			
				<li ng-repeat="answer in answers">				
					<button
						ng-class="getAnswerButtonClass(answer, allCorrectAnswers)"
						ng-click="answerClickHandler(question, answer)"
						ng-disabled="answerVerificationReceived || isCommunicatingWithServer"
						type="button">
							{{answer}}
					</button>
				</li>
			</ul>			
		</div>		
	</div>
	
	<div class="row">
		<div class="span6 offset3">			
			<span>{{amountQuestionsAsked}} / {{amountQuestionsInSet}}</span>			
			<button				
				ng-show="answerVerificationReceived"
				class="btn btn-inverse pull-right"
				type="button"ng-click="nextClickHandler()">
					{{getNextButtonLabel(questionsAsked, amountQuestionsInSet)}}
			</button>			
		</div>
	</div>

</div>